<% include ../partials/header.ejs %>

<title>Student-Database</title>
<link rel="icon" type="image/x-icon" href="/Asset/images/favicon/favicon-16x16.png">

<% include ../partials/nav.ejs %>

<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-10">
            <h1>Add Student</h1>
            <% if(typeof displayName=='string' && displayName) { %>
                <a href="/studentlist/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add a Student </a>
                <br>
            <% } %>
            <br>
            <table class= "table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <% if(typeof displayName=='string' && displayName) { %>
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-2">Student #</th>
                        <th class="text-center col-2">PhoneNum</th>
                        <th class="text-center col-1">Year</th>
                        <th class="text-center col-1">GPA</th>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                    <% } else { %>
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-2">Student #</th>
                        <th class="text-center col-2">PhoneNum</th>
                        <th class="text-center col-1">Year</th>
                        <th class="text-center col-1">GPA</th>
                        <th class="text-center col-1"></th>
                    <% } %>

                </tr>
                <!-- Repeat the template -->
                <% for(let count=0; count < StudentList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof displayName=='string' && displayName) { %>
                            <td class="text-center col-2"><%= StudentList[count].Name %></td>
                            <td class="text-center col-2"><%= StudentList[count].StudentNum %></td>
                            <td class="text-center col-2"><%= StudentList[count].PhoneNum %></td>
                            <td class="text-center col-1"><%= StudentList[count].Year %></td>
                            <td class="text-center col-1"><%= StudentList[count].Gpa %></td>
                            <td class="text-center col-1">
                                <a href="/studentlist/edit/<%= StudentList[count]._id %>"
                                   class="btn btn-primary">
                                    <i class="fas fa-pencil-alt"></i> Edit </a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/studentlist/delete/<%= StudentList[count]._id %>"
                                   class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i> Delete </a>
                            </td>
                    <% } else { %>
                            <td class="text-center col-2"><%= StudentList[count].Name %></td>
                            <td class="text-center col-2"><%= StudentList[count].StudentNum %></td>
                            <td class="text-center col-2"><%= StudentList[count].PhoneNum %></td>
                            <td class="text-center col-1"><%= StudentList[count].Year %></td>
                            <td class="text-center col-1"><%= StudentList[count].Gpa %></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>

<% include ../partials/footer.ejs %>
<% include ../partials/bottom.ejs %>
